/*  * {
  box-sizing: border-box;
        }
        div{

            width:500px;
            height:200px;
            border: 1px solid #000;
            box-sizing: border-box;
            float:left;
        } */
        * {margin: 0; padding: 0;}
        #container{
            
            height: 100%; 
            width: 100%; 
            display: flex;
        }
        #con1, #con2 , #con3, #con4 {
            display: inline-block;
            text-align: center;
            border: 1px solid black;
           
           
           
            width: 25%;
        }
    
    .js-index-body {
        text-align: center;
    }
    
    hr {
        border: 2px solid black;
    }